<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hcmute.edu.vn.foody07">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".MonAnListActivity" />
        <activity
            android:name=".ui.login.MonAnListActivity"
            android:label="@string/title_activity_mon_an_list" />
        <activity android:name=".QuanAnDetailActivity" />
        <activity android:name=".QuanAnListActivity" />
        <activity android:name=".TinhThanhActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".CurrentLocationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>